body {
  background-color: rgb(230, 239, 247);
}

h1 {
  font-weight: 900;
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: rgb(52, 51, 51);
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h2 {
  font-weight: 900;
  font-size: 15px;
  text-align: center;
  color: rgb(74, 72, 72);
}

h3 {
  color: rgb(74, 72, 72);
  font-weight: 900;
  font-size: 25pt;
  width: 100%;
  border-bottom: 3px solid rgb(74, 72, 72);
  display: block;
  margin-bottom: 20px;
}

.underline {
  border-bottom: 2px solid black;
  width: 100%;
  display: block;
}

p {
  font-size: 17px;
  padding: 10px;
}

.page {
  width: 850px;
  background-color: rgb(230, 239, 247);
  margin: auto;
  padding: 50px;
  padding-top: 35px;
}

.section {
  margin-top: 40px;
  background-color: rgb(248, 250, 252);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0.8em 0.5em 0.4em #bfc5c5, -0.8em 0.5em 0.4em #bfc5c5;
}
.vis-container {
  width: 100%;
  background-color: rgb(248, 250, 252);
  border-radius: 10px;
}

.description h2,
h1 {
  margin-top: 0px;
}

.description-right {
  width: 100%;
  background-color: rgb(248, 250, 252);
  height: 230px;
  padding-left: 30px;
}

.description-left {
  width: 100%;
  background-color: rgb(248, 250, 252);
  height: 250px;
}

.pure-g {
  margin-bottom: 40px;
}

.developed {
  color: rgb(28, 71, 2);
  font-weight: bold;
}
.undeveloped {
  color: rgb(159, 196, 137);
  font-weight: bold;
}

.bolded {
  font-weight: bold;
}

.europe {
  color: #ff7f00;
  font-weight: bold;
}

.africa {
  color: #a6cee3;
  font-weight: bold;
}

.asia {
  color: #377eb8;
  font-weight: bold;
}

.oceania {
  color: #a65628;
  font-weight: bold;
}

.america {
  color: #984ea3;
  font-weight: bold;
}